/* Styles for DatePicker Container */
.date-picker-container {
    display: flex;
    gap: 30px; /* Space between date pickers */
  }
  

  .date-picker-section{
    margin:20px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Styling the DatePicker input */ /* Rounded corners */ /* Light gray border */
  .MuiInputBase-root {
    /* border-radius: 8px;
    border: 1px solid #ccc; */
    padding: 10px 12px; /* Padding inside input */
    transition: border-color 0.3s; /* Smooth transition */
  }
  
  /* Focus state styling */
  .MuiInputBase-root:focus {
    border-color: #1976d2; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(25, 118, 210, 0.5); /* Add a shadow */
  }
  
  /* Styles for the label */
  .MuiFormLabel-root {
    font-weight: 600; /* Bold font */
    color: #555; /* Darker color for label */
  }
  
 